<div id="hangman">
  <h1 class="header">Hangman</h1>
  <div class="subheader">
    A game written in Ruby on Rails
    (<%= link_to "Forked Source", "https://github.com/blazerw/HangmanRails" %>)
  </div>
  <div class="subheader" id="timer">
    7 minute timer
  </div>
  <hr />

  <% if @games.present? %>
    <p>You have some unfinished games: </p>
    <ul>
      <% @games.each do |game| %>
        <li>
          <%= link_to game do %>
            <%= url_for game %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <hr/>
  <% end %>

  <%= render partial: "games/start_button", locals: { game: @game } %>
  <div>
    <table class="pure-table" style="margin: 0.5em auto;">
      <thead>
        <tr>
          <th></th>
          <th><strong>2021</strong></th>
          <th><strong>All Time</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= @score.columns[0] %></th>
          <td><%= @score.rows.first[0] %></td>
          <td><%= @score.rows.first[2] %></td>
        </tr>
        <tr>
          <th><%= @score.columns[1] %></th>
          <td><%= @score.rows.first[1] %></td>
          <td><%= @score.rows.first[3] %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class="pure-table" style="margin: 0.5em auto;">
      <thead>
        <tr>
          <% @details.columns.each do |column| %>
            <th><strong><%= column %></strong></th>
          <% end %>
        </tr>
      </thead
      <tbody>
        <% @details.rows.each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td><%= cell %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
